{% extends "core/base.html" %}
{% load static %}
{% load i18n %} 
{% block title %} Contacto {% endblock %}

{% block content %}
    <!-- Preguntas frecuentes -->
    <section class="sky-bg section-padding" id="faq-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <div style="padding-bottom: 3em;">
                        {% if 'ok' in request.GET %}
                            <p><b>{% trans 'Su mensaje ha sido enviado, en breve nos pondremos en contacto' %}</b></p>
                        {% elif 'fail' in request.GET %}
                            <p><b>{% trans 'Ha ocurrido un error, por favor intentelo mas tarde' %}</b></p>
                        {% endif %}
                        </div>
                        <h2>{% trans 'Preguntas Frecuentes' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            {% for faq in faqs %}
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">{{ faq.title }}</a>
                            </h4>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <p>{{ faq.answer|safe }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ubicacion -->
    <section class="map">
    	<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2728.906058921206!2d-72.70892938469555!3d-46.84553917914157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbd93b1f377520bf3%3A0xed65bcf8158c4109!2sTurismo+Kalem+Patagonia!5e0!3m2!1ses-419!2scl!4v1545526119786"></iframe>
		<br/>
		<small>
			<a href="https://www.google.com/maps/place/Turismo+Kalem+Patagonia/@-46.8455392,-72.7089294,17z/data=!3m1!4b1!4m5!3m4!1s0xbd93b1f377520bf3:0xed65bcf8158c4109!8m2!3d-46.8455392!4d-72.7067407"></a>
		</small>
    </section>
    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>{% trans 'Contactanos' %}</h2>
                        <p>{% trans 'Nosotros nunca compartiremos tus datos.' %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <address class="side-icon-boxes">
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{% static 'core/images/location-arrow.png' %}" alt="">
                            </div>
                            <p><strong>{% trans 'Direccion: ' %}</strong> Los Alerces 577, Puerto Guadal <br />Chile Chico</p>
                        </div>
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{% static 'core/images/phone-arrow.png' %}" alt="">
                            </div>
                            <p><strong>{% trans 'Telefonos: ' %}</strong>
                                <a href="callto:56973917881">+56973917881</a> <br />
                                <a href="callto:56988112535">+56988112535</a> <br />
                            </p>
                        </div>
                        <div class="side-icon-box">
                            <div class="side-icon">
                                <img src="{% static 'core/images/mail-arrow.png' %}" alt="">
                            </div>
                            <p><strong>E-mail: </strong>
                                <a href="mailto:contacto@turismokalempatagonia.com">contacto@turismokalempatagonia.com</a>
                            </p>
                        </div>
                    </address>
                </div>
                <div class="text-center">
                    <div class="col-xs-12 col-md-8">
                        <form id="contact-form" method="POST" class="contact-form">
                            {% csrf_token %}
                            <div class="form-double">
                                {{ context.form.name }}
                                {{ context.form.email }}
                            </div>
                            {{ context.form.title }}
                            {{ context.form.message }}
                            <button type="submit" class="button">Enviar</button>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <ul class="social-menu text-right">
                            <li><a href="https://www.facebook.com/turismokalempatagonia/?ref=br_rs"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/Kalem_bajocero/"><i class="ti-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCEL4Iqe95HQp-eIVDcSsQ0Q"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
