{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block title %} Blog {% endblock %}
{% block content %}
    
<!-- Blog -->
<section class="section-padding sky-bg" id="blog-page">
        <div class="container text-center">
            <div class="row">
            {% for post in posts %}
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog" id="card-blog">
                        <div class="blog-photo">
                            <img src="{{ post.image.url }}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="{% url 'detail' pk=post.id %}">{{ post.title }}</a></h3>
                            <ul class="blog-meta">
                                <li><span class="ti-user"></span> <a href="#">{{ post.author }}</a></li>
                                <li><span class="ti-calendar"></span> <a href="#">{{ post.published|date:"SHORT_DATE_FORMAT" }}</a></li>
                            </ul>
                            <p>{{ post.text|truncatechars:150|safe }}</p>
                            <a href="{% url 'detail' pk=post.id %}" class="button">Seguir Leyendo</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{%endif%}
            {% endfor %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1"><span class="ti-angle-double-left"></span></a>
                        <a href="?page={{ posts.previous_page_number }}"><span class="ti-arrow-circle-left"></span></a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Pagina' %} {{ posts.number }} {% trans 'de' %} {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><span class="ti-arrow-circle-right"></span></a>
                        <a href="?page={{ posts.paginator.num_pages }}"><span class="ti-angle-double-right"></span></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>

{% endblock content %}
