{% extends "core/base.html" %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
	<section class="section-padding sky-bg" id="blog-page">
        <div class="container">
            <div class="row">
    			<div class="col-md-8">
        			<div class="single-blog">
        				<div class="blog-content">
		            		{{post.text|safe}}
            			</div>
            		</div>
            	</div>
    			<div class="col-md-4">
    				<div class="row" id="detail-blog">
    					<img src="{{ post.image.url }}" class="single-team" alt="">
    				</div>
    				<div class="row" id="margin-blog">
    					<div class="single-blog">
	                        <div class="blog-content text-center">
	                            <ul class="blog-meta">
	                            	<li><span class="ti-target"></span>{{ post.place }}</li><br>
	                                <li><span class="ti-user"></span>{{ post.author }}</li><br>
	                                <li><span class="ti-calendar"></span>{{ post.published|date:"SHORT_DATE_FORMAT" }}</li>
	                            </ul>
	                        </div>
	                    </div>
    				</div>
    			</div>
            </div>
        </div>
    </section>

{% endblock content %}