{% load static %}
{% load i18n %} 
<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Sebastian Trujillo">
    <meta name="description" content="Turismo kalem patagonia especialista en 
    excursiones, expediciones, tours, logistica y cabalgatas por la region">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% block title %}{% endblock %}| Kalem</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="Kalem-icon" href="{% static 'core/images/kalem.png' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'core/images/kalem.png' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img height="100px" width="100px" src="{% static 'core/images/kalem.png' %}" alt="">
                <form action="{% url 'set_language' %}" method="post" id="language"> 
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    <select name="language" hidden>
                        {% for lang in LANGUAGES %}
                            {% if LANGUAGE_CODE != lang.0 %}
                                <option value="{{ lang.0 }}">
                                    {{ lang.1 }} ({{ lang.0 }})
                                </option>
                            {% endif %}
                        {% endfor %}
                        {% if LANGUAGE_CODE == 'es' %}
                            <input type="submit" class="button" value="English" />
                        {% else %}
                            <input type="submit" class="button" value="Español" />
                        {% endif %}
                    </select>
                </form>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if request.path == '/' %} class="active" {% endif %}><a href="{% url 'home' %}">{% trans 'Inicio' %}</a></li>
                    <li {% if 'services' in request.path  %} class="active" {% endif %} >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Servicios' %}<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="drop">
                            {% for a, b in ctx.items %}
                                <li class="text-center">
                                    <a href="{% url 'services' pk=a %}" id="drop-item">{{ b }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li {% if request.path == '/about/' %} class="active" {% endif %}><a href="{% url 'about' %}">{% trans 'Conocenos' %}</a></li>
                    <li {% if request.path == '/contact/' %} class="active" {% endif %}><a href="{% url 'contact' %}">{% trans 'Contacto' %}</a></li>
                    <li {% if request.path == '/blog/' %} class="active" {% endif %}><a href="{% url 'blog' %}">Blog</a></li>
                    <li {% if '/galery/' in request.path %} class="active" {% endif %}><a href="{% url 'galery' %}">Galeria</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->

    {% block content %}{% endblock %}
    {% if request.path != '/contact/' %}
    <section class="ulti-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="text-shadow: 3px 3px #000000">{% trans 'Listo para tu siguiente aventura' %}</h1>
                    <a href="{% url 'contact' %}" class="button">{% trans 'Contactanos' %}</a>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right">
                    <ul class="social-menu text-right">
                        <li><a href="https://www.facebook.com/turismokalempatagonia/?ref=br_rs"><i class="ti-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/Kalem_bajocero/"><i class="ti-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCEL4Iqe95HQp-eIVDcSsQ0Q"><i class="ti-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area relative sky-bg" id="contact-page" style="padding-top: 0px;">
    {% endif %}
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <p>&copy;Copyright 2018 All right resurved <a href="https://colorlib.com">Colorlib</a></p>
                    </div>
                    <div class="col-xs-4 text-center">
                        <p>Turismo Kalem Patagonia</p>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p>{% trans 'Desarrollador' %}: Sebastian Trujillo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Vendor-JS-->
    <script src="{% static 'core/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'core/js/scrollUp.min.js' %}"></script>
    <script src="{% static 'core/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <script src="{% static 'core/js/main.js' %}"></script>
</body>

</html>
