{% extends "core/base.html" %}
{% load static %}
{% load i18n%} 
{% block title %} Inicio {% endblock %}
{% block content %}
    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for image in imagenes %}
                            <div class="item {%if forloop.first %}active{%endif%} row">
                                <div class="v-center">
                                    <div class="col-xs-12">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img class="img-rounded" src="{{image.image.url}}">
                                        </div>
                                        <div class="center" data-animation="animated fadeInRight">
                                            <a href="{% url 'contact' %}" class="button mi-boton"> {% trans 'Contactanos' %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control" href="#caption_slide" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        
                        <a class="right carousel-control" href="#caption_slide" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-bg section-padding" id="feature-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>{% trans 'Servicios Ofrecidos' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img class="img-circle" src="{{ service.image.url }}" id="service-img" alt="">
                        </div>
                        <h3>{{ service.name }}</h3>
                        <p>{{ service.description|truncatechars:70|safe }}</p>
                        <div class="caption-button" data-animation="animated fadeInUp">
                            <a href="{% url 'services' pk=service.id %}" class="button">{% trans 'Mas Información' %}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
