{% extends "core/base.html" %}
{% load static %}
{% load i18n %} 
{% block title %} Nosotros {% endblock %}
{% block content %}
    <!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
        <div class="container">
            {% for about in abouts %}
                <div class="row v-center">
                    <div class="col-xs-12 col-md-6 header-text">
                        <h2>{% trans 'Nuestra empresa' %}</h2>
                        <p>{{ about.about|safe }}</p>
                    </div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% if about.image1 %}
                            <div class="item active">
                                <img class="img-thumbnail" src="{{ about.image1.url }}" alt="">
                            </div>
                            {% endif %}
                            {% if about.image2 %}
                            <div class="item">
                                <img class="img-thumbnail" src="{{ about.image2.url }}" alt="">
                            </div>
                            {% endif %}
                            {% if about.image3 %}
                            <div class="item">
                                <img class="img-thumbnail" src="{{ about.image3.url }}" alt="">
                            </div>
                            {% endif %}
                            {% if about.image4 %}
                            <div class="item">
                                <img class="img-thumbnail" src="{{ about.image4.url }}" alt="">
                            </div>
                            {% endif %}
                            {% if about.image5 %}
                            <div class="item">
                                <img class="img-thumbnail" src="{{ about.image5.url }}" alt="">
                            </div>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
        </div>
</header>

    <section class="section-padding gray-bg" id="team-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>{% trans 'Equipo de Trabajo' %}</h2>
                        <p>{% for about in abouts %}{{about.team|safe}}{% endfor %}</p>
                    </div>
                </div>
            </div>
            <div class="row" id="team">
                {% for employed in employeds %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-team">
                            <div class="team-photo">
                                <img src="{{ employed.image.url }}" alt="">
                            </div>
                            <h4>{{ employed.name }}</h4>
                            <h6>{{ employed.job }}</h6>
                            <ul class="social-menu">
                                {% if employed.facebook %}
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                {% endif %}
                                {% if employed.twitter %}
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                {% endif %}
                                {% if employed.instagram %}
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row" id="team">{%endif%}
                    {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}