{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Detalle Galeria {% endblock %}
{% block content %}
<section class="section-padding sky-bg" id="blog-page">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12" style="color: white; padding-bottom: 2rem;">
                <h1 style="padding-bottom: 2rem;">{{ album.title }}</h1>
                <p style="padding-bottom: 2rem;">{{ album.description|safe }}</p>
                <h1>{{ album.place }}</h1>
            </div>
        </div>
        <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for image in images %}
                <div class="item {%if forloop.first %}active{%endif%} row">
                    <div class="v-center">
                        <div class="col-xs-12">
                            <div class="caption-photo one" data-animation="animated fadeInRight">
                                <img class="single-team" src="{{image.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control" href="#caption_slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#caption_slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}