{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Galeria {% endblock %}
{% block content %}
    <section class="section-padding sky-bg" id="blog-page">
        <div class="container text-center">
            <div class="row">
            {% for album in albums %}
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog" id="card-blog">
                        <div class="blog-photo">
                            <img src="{{ album.thumb.url }}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="{% url 'detail' album.pk album.title|slugify %}">{{ album.title }}</a></h3>
                            <p>{{ album.description|truncatechars:150|safe }}</p>
                            <a href="{% url 'detail' album.pk album.title|slugify %}" class="button">{% trans 'Seguir Leyendo' %}</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{%endif%}
            {% endfor %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if albums.has_previous %}
                        <a href="?page=1"><span class="ti-angle-double-left"></span></a>
                        <a href="?page={{ albums.previous_page_number }}"><span class="ti-arrow-circle-left"></span></a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Pagina' %} {{ albums.number }} {% trans 'de' %} {{ albums.paginator.num_pages }}.
                    </span>

                    {% if albums.has_next %}
                        <a href="?page={{ albums.next_page_number }}"><span class="ti-arrow-circle-right"></span></a>
                        <a href="?page={{ albums.paginator.num_pages }}"><span class="ti-angle-double-right"></span></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
{% endblock %}