{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Servicios{% endblock title %}

{% block content %}

	<section class="overlay section-padding">
		<div class="container">
			<div class="row v-center">
				<div class="col-xs-12 col-md-7 text-justify">
					<h1>{{ service.name }}</h1>
	                <p>{{ service.description|safe }}</p>
	            </div>
	            <div class="col-md-5"><img class="single-team" src="{{ service.image.url}}" alt=""></div>
			</div>
		</div>
	</section>

{% for product in products %}
<section class="{%if forloop.counter|divisibleby:2%}angle-bg sky-bg{%else%}gray-bg{%endif%} section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>{{ product.name }}</h2>
			</div>
		</div>
		<div class="row v-center">
			<div class="col-md-7 {%if forloop.counter|divisibleby:2%}{%else%}col-md-push-5{%endif%} text-justify">
				{{ product.description|safe }}
			</div>
			<div class="col-md-5 {%if forloop.counter|divisibleby:2%}{%else%}col-md-pull-7{%endif%}">
				<div class="row">
					<img class="single-team" src="{{ product.image.url }}" alt=""><br><br>
				</div>
				{% if product.file %}
				<div class="row text-center">
					<a href="{{ product.file.url }}" target="_blank" class="button">Itinerario</a>
				</div>
				{% endif %}
				<div class="col-xs-12"><br></div>
				{% if product.url %}
				<div class="row text-center">
					<a href="{{ product.url }}" target="_blank" class="button">Referencia</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endfor %}

{% endblock content %}